html, body {
  -moz-user-select: none;
  -webkit-user-select: none;
  background-image: url("../../assets/img/patterns/139.png");
  background-repeat: repeat;
  margin: 0;
  height: 100%;
  font-family: 'ChicagoFLF', 'Times New Roman', 'Georgia', serif;
  font-size: 12px;
  font-weight: normal;
  overflow: hidden;
}

h1 {
  position: relative;
}

h1 span {
  display: inline-block;
}

.txt-rotate {
  display: inline-block;
  margin-left: 5px;
}

.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

a {
  color: #000;
}

.content {
  position: relative;
  z-index: 2;
  font-size: 12px;
  font-weight: normal;
  width: 260px;
  margin: 100px auto 0;
  border: 1px solid #111;
  background: #ccc;
  box-shadow: 1px 2px #111, inset 1px 1px 0px 0px #fff, inset -1px -1px 0px 0px #999;
}

.content .inner {
  margin: 2px 4px 4px 4px;
  border: 1px solid #111;
  background-color: #ddd;
  box-shadow: -1px -1px 0px 0px #999, 1px 1px 0px 0px #fff, inset 1px 1px 0px 0px #fff, inset -1px -1px 0px 0px #999;
}

.title {
  width: 100%;
  text-align: center;
  font-size: inherit;
  font-weight: inherit;
  padding: 1px 0;
  margin: 0 0 0 0;
}

.command_button {
  height: 22px;
  background-color: #dedede;
  display: inline-block;
  margin-bottom: 7px;
  margin-left: 14px;
  border-radius: 3px;
  border: 1px solid #000;
  box-shadow: var(--button-box-shadow);
}

.command_button:hover {
  box-shadow: var(--button-box-shadow), var(--button-hover-bezel);
}

.command_button:active {
  color: #fff;
  background-color: #666;
  box-shadow: var(--button-hover-bezel), inset -1px -1px 0px 0px #888, inset -2px -2px 0px 0px #777, inset 1px 1px 0px 0px #444, inset 2px 2px 0px 0px #555;
}

