@font-face {
	font-family: 'ChicagoFLF';
	src: url(../../assets/fonts/ChicagoFLF-a9f19c60be5b9603d53ead28df0b515d.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}